<ng-container *ngIf="tenantService.tenant$ | async as tenant; else loading">
  <app-menu-list [menu]="tenant.menu" (selectItem)="openDialog($event)"></app-menu-list>

  <button
    *ngIf="orderCart.length > 0"
    mat-flat-button
    color="primary"
    class="banner-cart"
    [routerLink]="['/order-cart']"
    [state]="{ tenantId: tenant.id }"
    [queryParams]="{ tenantId: tenant.id }"
  >
    <span class="cta">View Cart</span>
    <div class="total-price">${{ orderCartTotalPrice }}</div>
  </button>
</ng-container>

<ng-template #loading>
  <div id="page-preloader">
    <div class="page-preloader-spin"></div>
  </div>
</ng-template>
