@import '~@angular/material/theming';
@import '~@ffdc/uxg-angular-theme/lib/core/style/spacing';

.mat-card {
  display: grid;
  grid-template-areas:
    'description image'
    'price image';
  grid-template-columns: 1fr 80px;

  mat-card-header {
    grid-area: description;
    margin-left: -16px;
  }

  .card-price {
    grid-area: price;
    color: #694ed6;
    font-weight: 500;
    margin-top: -10px; // TODO: use grid-area the right way to center image for both rows
  }

  img {
    grid-area: image;
    object-fit: cover;
    width: 100%;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}
