<mat-card matRipple (click)="selectItem.emit(menuItem)" style="margin-bottom: 12px">
  <mat-card-header>
    <mat-card-title>{{ menuItem.name }}</mat-card-title>
    <mat-card-subtitle class="uxg-body-2">{{ menuItem.description }}</mat-card-subtitle>
  </mat-card-header>

  <div class="card-price">
    <span>${{ menuItem.price }}</span>
  </div>

  <div class="card-image">
    <!-- TODO: Add the quantity if added to cart -->
    <img [src]="menuItem.imageUrl" alt="Menu Item Image" />
  </div>
</mat-card>
