@import '~@ffdc/uxg-angular-theme/lib/core/style/spacing';

.uxg-nav {
  height: 100%;
}

.uxg-nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-content {
  padding: $uxg-spacing-2;
  padding-top: $uxg-spacing-2;
  margin-top: $uxg-spacing-2;
  height: calc(100% - 72px);
  overflow: auto;
}
